
    <% if(locals.user) { %>
        <%- include('header-auth') %>
    <% } else { %>
        <%- include('header') %>
    <% } %>
    

    <!-- <section id="main" class="f-container flex-center">
        <div class="flex-center main flex-center">
            <h1>
                “Savor the Moment
                One Byte at a Time”
            </h1>
            <a href="#album">
                Start Ordering
            </a>
        </div>
        <div class="wave main-wave">
            <img class="wave" src="images\waves\main-wave.png" alt="">
        </div>
    </section> -->

    <section id="trend" class="f-container">

        <div class="swiper mySwiper flex-center">
            <div class="swiper-wrapper">
                <div class="swiper-slide banner-slide">
                    <img src="images\banner\1.webp" alt="">
                </div>
                <div class="swiper-slide banner-slide">
                    <img src="images\banner\2.webp" alt="">
                </div>
                <div class="swiper-slide banner-slide">
                    <img src="images\banner\3.webp" alt="">
                </div>
                <div class="swiper-slide banner-slide">
                    <img src="images\banner\4.webp" alt="">
                </div>
            </div>
            <a href="/gallery">View Gallery</a>
            <div class="swiper-pagination"></div>
        </div>

        <div class="wave trend-wave-1">
            <img class="wave" src="images\waves\trend-wave-1.png" alt="">
            <div id="trend-h1" class="flex-center">
                <img src="images/trend-sign.png" alt="">
            </div>
        </div>

            <div id="trend-2" class="flex-center">
                <%if(locals.trending && trending.length > 0) {trending.forEach((trend) => {%>

                    <form class="hidden" action="/order" method="POST" id="trend-button-<%=trend.id%>"></form>
                    <input class="hidden" form="trend-button-<%=trend.id%>" type="hidden" value="<%=trend.id%>" name="cake_id">

                    <div class="trend-item flex-center">
                        <div class="trend-item-img-con flex-center">
                            <div class="trend-item-likes-con">
                                <button type="button" class="flex-center">
                                    <img src="images/icon/heart.png" alt="">
                                    <%= trend.likes%>
                                </button> 
                            </div>
                            <img src="images/new/<%=trend.img%>" alt="">
                        </div>
                        <h2><%=trend.name%></h2>
                        <p>₱<%=trend.price%>.00</p> 
                        <button type="submit" form="trend-button-<%=trend.id%>" class="order-btn flex-center" <% if(locals.orders) { %> onclick="order(<%=orders%>)" <% } %>>
                            <img src="images/icon/order.svg" alt="">
                            Order</button>
                    </div>
                <%})}%>
            </div>
    </section>

    <div class="wave wave-trend">
        <img class="wave" src="images\waves\trend-wave-2.png" alt="">
    </div>

    <section id="buttons" class="flex-center">
        
        <form class="hidden" action="/gallery" method="post" id="gallery-choc"></form>
        <form class="hidden" action="/gallery" method="post" id="gallery-eleg"></form>
        <form class="hidden" action="/gallery" method="post" id="gallery-birth"></form>
        <form class="hidden" action="/gallery" method="post" id="gallery-vanil"></form>
        
        <input type="hidden" value="chocolate" name="type" form="gallery-choc">
        <input type="hidden" value="elegant" name="type" form="gallery-eleg">
        <input type="hidden" value="birthday" name="type" form="gallery-birth">
        <input type="hidden" value="vanilla" name="type" form="gallery-vanil">
        

        <button class="cake-category-btn flex-center" type="submit" form="gallery-choc">
            <div>Chocolate Cakes</div>
            <img src="images\cakes\chocolateStrip.webp" alt="">
        </button>

        <button class="cake-category-btn flex-center" type="submit" form="gallery-eleg">
            <div>Elegant Cakes</div>
            <img src="images\cakes\purpleDelight.webp" alt="">
        </button>

        <button class="cake-category-btn flex-center" type="submit" form="gallery-birth">
            <div>Birtday Cakes</div>
            <img src="images\cakes\blueBirthday.webp" alt="">
        </button>

        <button class="cake-category-btn flex-center" type="submit" form="gallery-vanil">
            <div>Vanilla Cakes</div>
            <img src="images\cakes\whiteRose.webp" alt="">
        </button>

    </section>

    <section id="sliders" class="flex-center">

        <div class="chocolate-slider category flex-center">

            <form action="/gallery/chocolate" class="hidden" id="gallery-ch" method="POST"></form>

            <input class="hidden" type="hidden" value="chocolate" name="category" form="gallery-ch">

            <div class="slider-container swiper cakeSwiper">

                    <div class="card-list swiper-wrapper">
                        
                        <%if(locals.choc_cakes && choc_cakes.length > 0) { choc_cakes.forEach(cake => { %>

                        <form class="hidden" action="/order" method="POST" id="chocolate-button-<%=cake.id%>"></form>
                            
                        <input class="hidden" form="chocolate-button-<%=cake.id%>" type="hidden" value="<%=cake.id%>" name="cake_id">

                        <div class="item-wrapper swiper-slide">
                            <div class="card-item">
                                <div class="card-img flex-center">
                                    <img src="images\new\<%=cake.img%>" alt="">
                                    <button type="button" class="flex-center">  
                                        <img src="images/icon/heart.png" alt="">
                                        <%=cake.likes%> 
                                    </button> 
                                </div>
                                <div class="card-name">
                                    <%=cake.name%>
                                </div>
                                <div class="card-price">
                                    ₱<%=cake.price%>.00
                                </div>
                                <div class="card-bottom flex-center">
                                    <button type="submit" class="flex-center" form="chocolate-button-<%=cake.id%>" <% if(locals.orders) { %> onclick="order(<%=orders%>)" <% } %>>
                                        <img src="images/icon/order.svg" alt="">
                                        Order
                                    </button>
                                </div>
                            </div>
                        </div>

                        <% })} %>

                    </div>

                    <div class="swiper-pagination cake-pagination"></div>
                    <div class="swiper-button-prev cake-prev swiper-button-style"></div>
                    <div class="swiper-button-next cake-next swiper-button-style"></div>
            </div>

            <div class="text-slider flex-center">
                <h2>Chocolate Cakes</h2>
                <input type="submit" value="See More" form="gallery-ch">
            </div>

            <img class="banner-img chocolate-banner" src="images\banner\chocolate-cake.png" alt="">

        </div>

        <div class="elegant-slider category flex-center">

            <form action="/gallery/chocolate" class="hidden" id="gallery-ch" method="POST"></form>

            <input class="hidden" type="hidden" value="chocolate" name="category" form="gallery-ch">

            <div class="slider-container swiper cakeSwiper">

                    <div class="card-list swiper-wrapper">

                        <%if(locals.elegant_cakes && elegant_cakes.length > 0) { elegant_cakes.forEach(cake => { %>

                        <form class="hidden" action="/order" method="POST" id="elegant-button-<%=cake.id%>"></form>
                            
                        <input class="hidden" form="elegant-button-<%=cake.id%>" type="hidden" value="<%=cake.id%>" name="cake_id">

                        <div class="item-wrapper swiper-slide">
                            <div class="card-item">
                                <div class="card-img flex-center">
                                    <img src="images\new\<%=cake.img%>" alt="">
                                    <button type="button" class="flex-center">  
                                        <img src="images/icon/heart.png" alt="">
                                        <%=cake.likes%> 
                                    </button> 
                                </div>
                                <div class="card-name">
                                    <%=cake.name%>
                                </div>
                                <div class="card-price">
                                    ₱<%=cake.price%>.00
                                </div>
                                <div class="card-bottom flex-center">
                                    <button type="submit" class="flex-center" form="elegant-button-<%=cake.id%>" <% if(locals.orders) { %> onclick="order(<%=orders%>)" <% } %>>
                                        <img src="images/icon/order.svg" alt="">
                                        Order
                                    </button>
                                </div>
                            </div>
                        </div>

                        <% })} %>

                    </div>

                    <div class="swiper-pagination cake-pagination"></div>
                    <div class="swiper-button-prev cake-prev swiper-button-style"></div>
                    <div class="swiper-button-next cake-next swiper-button-style"></div>
            </div>

            <div class="text-slider flex-center">
                <h2>Elegant Cakes</h2>
                <input type="submit" value="See More">
            </div>

            <img class="banner-img chocolate-banner" src="images\banner\elegant-cake.png" alt="">

        </div>




        

    </section>


    <%- include('footer') %>